* {
    font-family: sans-serif;
}
header {
    height: 90px;
    background-color: rgb(255, 94, 0);
}

button {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    border: solid white;
    width: 55px;
    
}
button:focus {
    outline-width: 0px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.flex {

    /* display: flex;
    flex-direction: row;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
     */
}

.flex-right {
    margin-left: auto;
}

.icon {
    display: none;
}


#nav-bar {
    width: 100%;
    
    
    
}


#right-nav {
    width: 100%;
    display: flex;
    /* float: left; */
    flex-direction: row;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    
    
    
} 
/* #left-nav {
    float: right;
} */
#home {
    color: rgb(143, 4, 34);
    background-color: white;
}

#y{
    background-color: #4CAF50;
    color: white;
    width: auto;
    width: 2.7em;
    height: 2.7em;
    
}

#share {
    background-color: orange;
    color: white;
    width: 2.7em;
    height: 2.7em;
    
}

#mail {
    font-size:28px;
    background-color:rgb(255, 255, 255);
    color:rgba(250, 35, 35, 0.986);
}

#mail:visited {
    color: white;
    background-color:rgb(253, 5, 5);
}
mail:link {
    color: white
}

#user {
    background-color: white;
    color: teal;
    border-color: white;
}

.amz-img {
    height: 60px;
    width: 120px;
    display: flex;
    justify-self: center;

}

.filter {
    margin: 10px;
}

.sort {
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgb(242, 253, 255);
}

.description {
    /* position: absolute; */
    color: cyan;
}

.child-item {
    transition-duration: 0.5s;
    height: min-content;
    height: 300px;
    width: min-content;
}

img {
    width: 200px;
    height: 200px;
    /* display: inherit; */
    /* object-fit: cover; */
    
}
.child-item:hover {
    transform: scale(1.1);
    cursor: pointer;
    
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;

}
div {
    height: min-content;
    /* transition:transform .1s; */
}

.writing {
    display: inline;
}

.button {
    border-radius: 20px;
}

.buy {
    background-color: #f1ac15;
    /* cursor: not-allowed; */
}
.add {
    /* cursor: not-allowed; */
}

.center {
    text-align: center;
}

.welcome {
    margin: 5rem;
}

.main-content{
    
}

.div-about {
    display: flex;
    
    align-content: space-around;
    
}


.about {
    border: solid red;
    width: 80%;
    margin-right: 5%;
    margin-left: 5rem;
    
    
}

.image {
    width: 100%;
    height: 100%;
    margin-right: 5rem;

}

@media screen and (max-width: 928px) {

    .div-about {
        flex-wrap: wrap-reverse;
    }
    .about{
        margin: 1rem;
        width: 100%;
    }
    .image {
        margin: 0rem;
    }
}
